{% extends 'base.html' %} {% load static %} {% block content %}
<div class="flex flex-wrap mt-4">
  <div class="w-full mb-12 xl:mb-0 px-4">
    <div
      class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
    >
      <div class="rounded-t mb-0 px-4 py-3 border-0">
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 max-w-full flex-grow flex-1">
            <center><h1 class="font-bold text-base text-blueGray-700">
              {{ title }}
            </h1></center>
            <br>
            <a href={% url 'temperature.index' %} class="bg-blue-600 text-white active:bg-blue-700 text-sm px-4 py-2 mt-5 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-0.5 mb-0.5 ease-linear transition-all duration-150">Prediksi dengan Masukkan Angka</a>
            <a href="https://drive.google.com/uc?export=download&id=1PA4lsVgJlgw0hv5mFEPyEm6OpMgDUtJZ" class="bg-blue-600 text-white active:bg-blue-700 text-sm px-4 py-2 mt-5 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-0.5 mb-0.5 ease-linear transition-all duration-150">Download Template Data</a>
          </div>
        </div>
      </div>
      <div class="block w-full overflow-x-auto p-5 text-xs">
        <form
          action="{% url 'temperaturepredic.store' %}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="mb-3 pt-0 leading-relaxed">
            
            <label class="label">
              <span class="label-text text-sm">Data Suhu Udara</span>
              <small class="block">Extensi File: CSV</small>
              <small class="block">Minimal: 12 Data</small>
            </label>
            <input
              class="form-control px-3 py-3 placeholder-blueGray-300 text-blueGray-600 block bg-clip-padding border border-blueGray-300 rounded transition ease-in-out focus:outline-none focus:ring w-full"
              type="file"
              accept=".csv"
              name="file"
              required
            />
          </div>
          <button
            class="bg-blue-600 text-white active:bg-blue-700 font-bold uppercase text-sm px-6 py-3 mt-5 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="submit"
          >
            Proses
          </button>
        </form>
      </div>
    </div>

    {% if request.session.result %}
    <div class="relative min-w- bg-white w-full mb-6 shadow-lg rounded">
      <div class="block w-full overflow-x-auto p-5 text-sm">
        <div class="flex items-center justify-start">
          <div class="flex flex-col px-4">
            <p class="text-xl font-semibold capitalize">
              Prediksi Suhu Udara Besok: {{ request.session.result }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
